
div#player-profile.player-profile
  div.container
    section.profile
      div.row
        div.col-xs-7.left
          
          div.row
            div.col-xs-8
              div.heading
                h1.player-name {{info.fname + ' '+ info.lname}}  
                  br
                  small.hidden king of Court in 
                    Israels, Plads, 
                    | CPH and 
                    a 6 more
                h4.hidden Home Court: 
                  span The Cage (NY)
            div.col-xs-4
          div.row
            div.userinfo-wrapper 
              div.col-sm-4.pl0
                div.pro-pic-wrapper(style="background-image: url({{info.photo.image_small_url}})", x-ng-show="info.photo", sdn-media-element, large-image="{{info.photo.media_url}}", title="{{info.name}}")
                //img.user-pro-pic(x-ng-src="{{info.photo.image_small_url}}", x-ng-show="info.mainImage", sdn-media-element)
                span.default202.icon-sdn-default(x-ng-show="!info.photo")
                //img(src="http://www.forumpiece.com/data/avatars/l/24/24777.jpg?1393262966", sdn-media-element)
              div.col-sm-5
                div.player-info 
                  h4.grey.dib.mt10(style="visibility: hidden") Player Info  
                  small(style="visibility: hidden")
                    a.grey.ml10(href="#/edit-profile") Edit 
                      span.icon-setting
                  div.info 
                    h4.grey AGE
                    h3 {{ info.dob | getAgeFromDOB }}
                  div.info 
                    h4.grey GENDER
                    h3 {{info.gender == 'm' ? 'Male' : 'Female'}}
                  div.info 
                    h4.grey HEIGHT
                    h3 {{info.height ? info.height : '-,--m'}}
                  div.info 
                    h4.grey POSITION
                    h3 {{info.position ? info.position : '---'}}
                  div.info 
                    h4.grey WEIGHT
                    h3 {{info.weight ? info.weight : '--kg'}}
                  div.info 
                    h4.grey LEVEL
                    h3 {{info.level ? info.level.replace('_', ' ') : '--'}}
              div.col-sm-3
                div.player-info
                  a.gray-link(style="font-size: 19px; float: right; margin-top: 5px; margin-right: -10px;", href="#/edit-profile") 
                    i.icon-setting 
                  h4.grey.dib.mt10(style="visibility: hidden;") -
                  h4.mt0.mb0.grey GAMES
                  h3.mt0 {{info.games ? info.games : '---'}}
                  h4.mt0.mb0.grey WINS
                  h3.mt0 {{info.wins ? info.wins : '---'}}

          div.row 
            //- div.col-sm-4
            //-   div.fairplayer.dib
            //-     h4.grey.mt0.pt10 FAIRPLAYER(score)
            //-     h3.mt10 
            //-       span.icon-level-5
            //-       span.icon-level-4
            //-       span.icon-level-3.orange-color
            //-       span.icon-level-2
            //-       span.icon-level-1
            div.col-sm-12.connection-wrapper
              h2.grey.dib.ml10 
                span.icon-media
                |  MEDIA 
                a.black-link {{info.albums.length | doubleNumber: 3 }}
              h2.grey.dib
                span.icon-friends
                |  FRIENDS 
                a.black-link {{info.friends.length | doubleNumber: 3 }}
              h2.grey.dib 
                span.icon-team-symbol
                |  TEAMS 
                a.black-link {{info.teams.length | doubleNumber: 3 }}
          div.row
            div.col-xs-12
              hr
              sdn-skills-rating
              hr
          
          div.row.hidden 
            div.col-sm-12
              div.badge-heading.pull-left
                h2.grey.mb0.mt10 BADGES 
                small 
                  a.unstyle See all badges
              div.badges-wrapper.pull-left.mt10.mb10
                sdn-badges
          div.row.hidden
            div.col-xs-12
              hr 
              div.clearfix
              div.pull-left
                h3.grey.mb0.mt10 MEDIA
                small Go to media 
              div.media-wrapper.pull-left
                i.default50.icon-sdn-default.mr5.tx-grey(x-ng-repeat="n in [1,2,3,4,5,6,7,8,9,10]")
          
          div.row 
            div.col-xs-12
              //hr 
              //sdn-calender  
          div.row(x-ng-show="false")  
            div.col-xs-3 
              h1.mt0 SKILLS
                small
                  a  48 
                  | RATES
            div.col-xs-5
              div.rating-info-wrapper
                div.rating-info 
                  span.square.orange 
                  p Friends' ratings
                div.rating-info
                  span.square.black  
                  p My ratings
            div.col-xs-4 
              div 
                button.btn-primary.btn APPROVE
                button.btn-primary.btn EDIT SKILLS
          
          div.row(x-ng-show="false") 
            div.col-xs-6
              h1.ct.grey OFFENSE
              div.progress-bar-wrapper
                h4.grey.mb0 3 Points
                div.progress
                  div.progress-bar.progress-bar-success(role="progressbar", aria-valuenow="40", aria-valuemin="0", aria-valuemax="100", style="width: 40%")
                    span.sr-only 40% Complete (success)
                div.progress
                  div.progress-bar.progress-bar-info(role="progressbar", aria-valuenow="80", aria-valuemin="0", aria-valuemax="100", style="width: 80%")
                    span.sr-only 80% Complete (success)
                h4.orange-color 9.5
              div.progress-bar-wrapper
                h4.grey.mb0 Mid Range
                div.progress
                  div.progress-bar.progress-bar-success(role="progressbar", aria-valuenow="40", aria-valuemin="0", aria-valuemax="100", style="width: 40%")
                    span.sr-only 40% Complete (success)
                div.progress
                  div.progress-bar.progress-bar-info(role="progressbar", aria-valuenow="40", aria-valuemin="0", aria-valuemax="100", style="width: 40%")
                    span.sr-only 80% Complete (success)
                h4.orange-color 9.5
              div.progress-bar-wrapper
                h4.grey.mb0 Lay-ups
                div.progress
                  div.progress-bar.progress-bar-success(role="progressbar", aria-valuenow="70", aria-valuemin="0", aria-valuemax="100", style="width: 70%")
                    span.sr-only 40% Complete (success)
                div.progress
                  div.progress-bar.progress-bar-info(role="progressbar", aria-valuenow="30", aria-valuemin="0", aria-valuemax="100", style="width: 30%")
                    span.sr-only 80% Complete (success)
                h4.orange-color 9.5
              div.progress-bar-wrapper
                h4.grey.mb0 Off. Rebound
                div.progress
                  div.progress-bar.progress-bar-success(role="progressbar", aria-valuenow="70", aria-valuemin="0", aria-valuemax="100", style="width: 70%")
                    span.sr-only 40% Complete (success)
                div.progress
                  div.progress-bar.progress-bar-info(role="progressbar", aria-valuenow="30", aria-valuemin="0", aria-valuemax="100", style="width: 30%")
                    span.sr-only 80% Complete (success)
                h4.orange-color 2
              div.total-summary
                p Total offensive score:
                h1.orange-color 23,5
            div.col-xs-6 
              h1.ct.grey DIFENSE
              div.progress-bar-wrapper
                h4.grey.mb0 3 Points
                div.progress
                  div.progress-bar.progress-bar-success(role="progressbar", aria-valuenow="40", aria-valuemin="0", aria-valuemax="100", style="width: 40%")
                    span.sr-only 40% Complete (success)
                div.progress
                  div.progress-bar.progress-bar-info(role="progressbar", aria-valuenow="80", aria-valuemin="0", aria-valuemax="100", style="width: 80%")
                    span.sr-only 80% Complete (success)
                h4.orange-color 9.5
              div.progress-bar-wrapper
                h4.grey.mb0 Mid Range
                div.progress
                  div.progress-bar.progress-bar-success(role="progressbar", aria-valuenow="40", aria-valuemin="0", aria-valuemax="100", style="width: 40%")
                    span.sr-only 40% Complete (success)
                div.progress
                  div.progress-bar.progress-bar-info(role="progressbar", aria-valuenow="40", aria-valuemin="0", aria-valuemax="100", style="width: 40%")
                    span.sr-only 80% Complete (success)
                h4.orange-color 9.5
              div.progress-bar-wrapper
                h4.grey.mb0 Lay-ups
                div.progress
                  div.progress-bar.progress-bar-success(role="progressbar", aria-valuenow="70", aria-valuemin="0", aria-valuemax="100", style="width: 70%")
                    span.sr-only 40% Complete (success)
                div.progress
                  div.progress-bar.progress-bar-info(role="progressbar", aria-valuenow="30", aria-valuemin="0", aria-valuemax="100", style="width: 30%")
                    span.sr-only 80% Complete (success)
                h4.orange-color 9.5
              div.progress-bar-wrapper
                h4.grey.mb0 Lay-ups
                div.progress
                  div.progress-bar.progress-bar-success(role="progressbar", aria-valuenow="70", aria-valuemin="0", aria-valuemax="100", style="width: 70%")
                    span.sr-only 40% Complete (success)
                div.progress
                  div.progress-bar.progress-bar-info(role="progressbar", aria-valuenow="30", aria-valuemin="0", aria-valuemax="100", style="width: 30%")
                    span.sr-only 80% Complete (success)
                h4.orange-color 9.5
              div.total-summary
                p Total Defensive score:
                h1.orange-color 23,5
          div.row.hidden 
            div.col-xs-12
              hr
        
        div.col-xs-5
          aside.right
            h1 HOOP MAP 
              small Latest activities

            div(sdn-aside-hoopmap, id="myMap", style="height: 200px; display: block; background-color: #DDD")
            //map#google_map
            div.court-summary(x-ng-show="false")
              div.hight-five-btn
                span.icon-high-five
                span.mr5.text HIGH FIVED COURTS
                span.badge 10
              a.ml10.unstyle Court1
              span ,  
              a.unstyle Court2 name
            img(src="#{pkg.version}/img/IphoneImage.jpg", style="max-width: 100%;")
            div.mapp-icon-wrapper.pull-right(style="margin-right: 35px;")
              a.mr20(href="#", title="Download Android Application")
                i.android-store.icon
              a(href="#", title="Download iPhone Application", x-ng-click="changeURL()")
                i.iphone-store.icon
            //sdn-wall(limit="5")
  //midea dialog
  div(sdn-media)
include blocks/footer