footer
  div.container
    div.row
      div.col-xs-3
        a(href="mailto:hello@slamdunknetwork.com") hello@slamdunknetwork.com
      div.col-xs-6
        p Copyright &copy; 2013. Slamdunk Network. All rights reserved.
      div.col-xs-3
        a(href="/") www.slamdunknetwork.com