#court-profile
  .left
    .user-pro-pic
      max-width: 100%
    .feature-tbl
      .dib 
        width: 100px 
    .badge-orange
      display: inline-block
      margin-top: -2px
      vertical-align: top
      
  .court-info
    i 
      font-size: 41px
      width: 60px
      text-align: center
    h3 
      text-transform: capitalize
  .upload-media 
    &:hover
      color: brand-black
      text-decoration: none
  .edit
    color: grey-light
    &:hover 
      color: brand-orange
    span 
      font-size: 26px
      vertical-align: middle
      margin-right: 9px
    