div#courts
  .court-loader
    padding: 15px
    font-weight: bold
    text-align: center
    text-transform: uppercase
    background-color: #DDD
  .media-heading 
    display: inline-block
  .stars
    display: inline-block
    float: right
    > div 
      display: inline-block
      margin-left: 4px
      font-size: 18px
  div.frnds-playing
    a 
      display: inline-block
      margin-right: 5px
      margin-bottom: 5px
  div.list
    table 
      td
        width: 19%
        h5
          white-space: nowrap
          margin: 0 10px 10px 10px
          text-transform: capitalize
        div 
          span
            display: inline-block
        div:nth-child(1n)
          button
            margin-bottom: 10px
        div:nth-child(2n)
          button
            margin-left: 2px   

  .right
    .city-chk-wrapper
      width: 25%
      text-transform: capitalize 
      display: inline-block
    .courttype-wrapper
      margin-right: -30px 
      .dib 
        width: 19%
        display: inline-block;
        vertical-align: top