#edit-court
  margin-top: 20px
  .edit-court-pic  
    &:hover 
      .profile-pic-upload
        display: block
    .profile-pic-upload
      display: none
      width: 100%
      padding: 19px
      text-align: center
      background: rgba(221, 221, 221, 0.59)
      bottom: 0
      position: absolute
      cursor: pointer
  .left
    table 
      i 
        font-size: 47px