@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
.icon
  background: url("../img/collections.png") no-repeat
  display:inline-block

.icon-spin
  width: 1em
  height: 1em
  display: inline-block
  -moz-animation: spin 2s infinite linear
  -o-animation: spin 2s infinite linear
  -webkit-animation: spin 2s infinite linear
  animation: spin 2s infinite linear

i.challenge_black
  background-position: -24px -150px
  width: 25px;
  height: 20px;


i.challenge_orange
  background-position: -24px -200px
  width: 25px;
  height: 20px;

i.challenge_gray
  background-position: -24px -250px
  width: 25px;
  height: 20px;


i.marker_indoor_black
  background-position: -344px -100px
  width: 55px;
  height: 65px;


i.marker_street_black
  background-position: -344px -200px
  width: 55px
  height: 65px

i.marker_street_orange
  background-position: -343px 0
  width: 55px
  height: 65px

i.marker_indoor_orange
  background-position: -343px -374px
  width: 55px
  height: 65px


i.play
  background-position: -273px -124px
  width: 26px
  height: 25px


i.star_black
  background-position: -121px -150px
  width: 28px
  height: 27px

i.star_gray
  background-position: -121px -250px
  width: 28px
  height: 27px


i.star_orange
  background-position: -121px -200px
  width: 28px
  height: 27px

i.street_court
  background-position: -262px 0
  width: 38px
  height: 48px

i.street_court_black
  background-position: -262px -50px
  width: 38px
  height: 50px

i.tweeter_round_black
  background-position: -72px -300px
  width: 27px
  height: 27px

i.tweeter_round_gray
  background-position: -72px -350px
  width: 27px
  height: 27px

i.default_court
  background-position: -111px -349px
  width: 210px
  height: 180px

i.default_thumb
  background-position: -162px -250px
  width: 88px
  height: 90px

i.default_user
  background-position: -180px -150px
  width: 20px
  height: 20px

i.down_arraw
  background-position: -175px -200px
  width: 25px
  height: 15px

i.drop_down
  background-position: -228px -132px
  width: 21px
  height: 17px

i.fb_round
  background-position: -22px -349px
  width: 27px
  height: 27px

i.fb_round_black
  background-position: -21px -300px
  width: 28px
  height: 27px

i.high_five_black
  background-position: -79px -150px
  width: 20px
  height: 20px

i.high_five_gray
  background-position: -79px -250px
  width: 20px
  height: 20px

i.high_five_orange
  background-position: -78px -200px
  width: 21px
  height: 20px

i.indoor_court
  background-position: -211px 0
  width: 39px
  height: 50px

i.indoor_court_black
  background-position: -210px -50px
  width: 39px
  height: 50px

i.king
  background-position: -260px -169px
  width: 38px
  height: 30px

i.left_arrow
  background-position: -228px -210px
  width: 20px
  height: 25px

i.marker_blank_black
  background-position: -347px -297px
  width: 55px
  height: 65px

i.old
  background-position: 0 0
  width: 200px
  height: 127px

ul.rating li i
  background-position: -121px -250px
  width: 28px
  height: 27px

ul.rating li.filled i
  background-position: -121px -200px
  width: 28px
  height: 27px

div.details ul.rating li.filled i
  background-position: -121px -150px
  width: 28px
  height: 27px

i.counter
  border-radius:50px
  min-width:18px 
  height:18px 
  display:inline-block
  text-align:center
  font-style:normal
  color:white-color
i.counter.orange 
  background-color:orange-bgcolor
  border:1px solid orange-dk-bgcolor
i.counter.gray 
  background-color:grey-lt-bgcolor
  border:1px solid grey-color

.hoopmap-marker-img
  width: 55px
  height: 65px
  position: absolute
  display: block
  z-index: 99
  margin-top: -48px
  margin-left: -27px

.hoopmap-courtking-img
  width: 43px
  height: 40px
  background: transparent
  margin-top: -47px
  margin-left: -16px
  z-index: 100
  position: absolute
  padding:2px

.hoopmap-courtking-img
  img 
    height:100%
    width:100%

.twitter
  background-position: -450px -125px
  width: 150px
  height: 36px

.facebook
  background-position: -450px -168px
  width: 150px
  height: 36px

.android-store
  background-position: -450px 0
  width: 173px
  height: 57px

.iphone-store
  background-position: -450px -59px
  width: 174px
  height: 57px

i.badges-1-black
  background-position: -450px -214px
  width: 35px
  height: 35px

i.badges-1-gray
  background-position: -450px -264px
  width: 35px
  height: 35px

i.badges-2-black
  background-position: -500px -214px
  width: 51px
  height: 34px

i.badges-2-gray
  background-position: -498px -264px
  width: 51px
  height: 35px

i.badges-3-black
  background-position: -450px -314px
  width: 49px
  height: 35px

i.badges-3-gray
  background-position: -450px -364px
  width: 49px
  height: 35px

i.badges-4-black
  background-position: -510px -314px
  width: 39px
  height: 35px

i.badges-4-gray
  background-position: -509px -364px
  width: 39px
  height: 35px

i.badges-5-black
  background-position: -458px -414px 
  width: 41px
  height: 35px

i.badges-5-gray
  background-position: -457px -464px
  width: 42px
  height: 35px

i.letter-t
  background-position: -584px -317px
  width: 14px
  height: 31px

i.requests-invite
  background-position: -579px -275px
  width: 19px
  height: 23px

i.challenge_dk_gray
  background-position: -577px -229px
  width: 22px
  height: 20px

i.default_user-lx
  background-position: -510px -459px
  width: 40px
  height: 40px

i.letter-b
  background-position: -530px -429px
  width: 19px
  height: 19px

i.upload-button-l
  background-position: -271px -276px 
  width: 70px
  height: 65px

i.upload-button-m
  background-position: -273px -220px
  width: 47px
  height: 44px