.mt20
  margin-top: 20px
.mt30
  margin-top: 30px
.mb30
  margin-bottom: 30px
.pt40
  padding-top: 40px
.pt60
  padding-top: 60px
.pb30
  padding-bottom: 30px
.pl110
  padding-left: 110px

.narrow-container
  max-width: 600px
  margin: 0 auto

input.ng-invalid.ng-dirty
  border-color: red