div.fairplayer
  span 
    display: inline-block
    margin: 2px 5px
    font-size: 1.3em 
#google_map
  height: 200px

#player-profile
  .connection-wrapper
    h2  
      margin-right: 115px
      &:last-child 
        margin-right: 0
