#network-page
  
  div.work-in-progress
    i
      margin-top: 200px
      display: inline-block
      font-size: 44px

  .nw-wall-wrapper
    padding: 20px 20px 15px 40px
  .nw-post-content
    width: 468px
    float: left


.nw-msg-post-wrapper
  position: relative
  margin-bottom: 15px
  .btn-group .btn
    color: grey-dark
    border-right: 1px solid grey
    padding: 0px 12px
    font-family: font-family-tit
  .btn-group .btn:last-child
    border-right: none

.nw-text-control-wrapper
  position:relative
  &:before
    content: ''
    position: absolute
    top:-20px
    left: 20px
    height: 0
    width: 0
    border-bottom: 10px solid grey-lighter
    border-top: 10px solid transparent
    border-right: 15px solid transparent

.nw-text-control
  background-color: grey-lighter
  border-color: transparent
  box-shadow: none
  padding-left:30px
  margin-bottom: 3px
  position: relative
  &:focus
    border-color: transparent
    box-shadow:none



.nw-post-wrapper
  position: relative
  color: grey
  
.nw-post-block
  background-color: brand-white
  margin-bottom: 15px
  .nw-post-block-content
    background-color: grey-lighter
    padding: 15px 20px
    .post-user-img
      margin-right:15px
      float: left
    .nw-post-content
      float:left
      .post-user-name
        color: grey-color
        font-size: font-size-xbig
        padding:3px 0px 6px 0px
        display: block
      .row
        margin-left: -5px
        margin-right: -5px
      .col-xs-4
        padding-left: 5px
        padding-right: 5px
      .thumbnail
        padding:0
        border: none
        border-radius: 0
        background-color: transparent
  .nw-post-block-actions
    position: relative
    padding:10px
    .btn-group .btn
      border-right: 1px solid grey
      padding: 0px 12px
      position: relative
    .btn-group .btn:last-child
    .btn-no-border
      border-right: none !important
  .nw-post-comments
    position: relative
    padding-left:125px
    margin-top: 3px
    .comment-wrapper
      background-color: grey-lighter
      padding: 6px
      margin-bottom: 6px
      .comment-user-img
        float: left
        margin-right: 10px
      .comment-user-name
        float:left
        color: grey-dark
        width: 90px
        margin-right: 10px
      .comment
        float:left
        margin: 0
        display: inline-block
        width: 275px
    .nw-text-control-wrapper
      margin-top:15px


.nw-sidebar
  position: relative
  .nw-calender
    label 
      font-size: 11px !important
    .icon-calender
      font-size: 62px !important
    .icon-challenge
      font-size: 0.4em !important
      margin-left: -14px !important
      margin-top: -12px !important
  position: relative
  .btn-p-0
    padding: 0
  .nw-sidebar-title
    position: relative
    background-color: grey-lighter
    padding: 10px
    margin-bottom: 25px
    &:before
      content: ''
      position: absolute
      bottom:-30px
      left: 40px
      height: 0
      width: 0
      border-top: 15px solid grey-lighter
      border-bottom: 15px solid transparent
      border-right: 20px solid transparent
    .user-img
      margin-right: 10px
      display: inline-block
      float:left
      width: 30px
      height: 30px
      border: 1px solid grey-dark
    .user-name
      display: inline-block
      font-size: font-size-xbig
      color: brand-black
      font-family: font-family-tit
    .profile-status
      float: right
      line-height: 30px
      i
        font-style: normal
        display: inline-block
        margin: 0 4px
        color: brand-orange
  .nw-challenges
  .nw-req-invites
  .nw-network-activities
  .nw-badges
  .nw-teams
  .nw-expand-invite
    margin-top:10px
    padding-bottom: 10px
    border-bottom: 1px solid grey-lighter
  .nw-challenges
  .nw-req-invites
  .nw-badges
  .nw-teams
  .nw-expand-invite
    position: relative
    .title-challenges
      position: relative
      font-size: font-size-big
      text-transform: uppercase
      padding: 0 0 10px 28px
      margin: 0
      line-height: 18px
      color: grey-dark
      font-family: font-family-tit
      .icon-challenge-black
      .icon-invites-black
      .icon-letter-b
      .icon-letter-t
        width: 25px
        height: 20px
        position: absolute
        top:0
        left:0
      .icon-challenge-black
        background-position: -577px -229px
      .icon-invites-black
        background-position: -579px -275px
      .icon-letter-b
        background-position: -530px -429px
      .icon-letter-t
        background-position: -577px -317px
      .challenge-frieds
        float: right
        display: inline-block
        font-size: font-size-big
        color: brand-black
    .challenges-list
    .req-invite-list
      padding:0
      margin:0
      margin-left:20px
      li
        font-size: font-size-small
        margin-bottom: 3px
        color: grey-dark
        b
          color: brand-black
        img
          margin-right: 5px
        a
          color: brand-orange
  .nw-badges
    .list-badges
      margin-top: 15px
  .nw-teams
    position: relative
    .btn
      color: brand-white
      font-family: font-family-tit
  .nw-expand-invite
    h2
      font-size: font-size-xxxbig
      font-family: font-family-tit
    .invite-box
      text-transform: uppercase
      font-family: font-family-tit
      color: grey-dark
    .btn
      padding-left: 30px
      padding-right: 30px
  .nw-network-activities
    span.title
      display: inline-block
      font-size: font-size-xbig
      color: brand-black
      font-family: font-family-tit
      text-transform: uppercase
    .box-wrapper
      margin-left: 20px
      margin-right: 0
      .col-xs-6
        .row
          marign-left: 10px
          margin-right: 10px
        h4
        h5
          font-family: font-family-tit
          text-transform: uppercase
        h4
          margin-left: -15px
          font-size: font-size-mbig
        h5
          font-size: font-size-small
          font-family: font-family-tit
          margin-top: 5px
          margin-bottom: 0
      .col-xs-2
        padding-left: 1px
        padding-right: 1px
        margin-bottom: 4px
        a
          display: block
          color: grey


.nw-wall-wrapper
  textarea 
    max-width: 100%
    resize: none
.nw-wall-wrapper
.nw-sidebar
  .btn
    color: grey
    font-family: font-family-tit
    text-transform: uppercase
    .badge
      margin-left: 4px
    &:hover
      color: grey-dark

  .btn-challenge
  .btn-high-five
    position: relative
    padding-left: 30px !important
    .icon
      width: 25px
      height: 20px
      position: absolute
      left: 3px
      top: 0
    &:hover
      color: grey-dark
    &:active
      text-decoration: none

  .btn-challenge
    .icon-challenge-black
      background-position: -24px -250px
    .icon-challenge-orange
      background-position: -24px -200px
    &:hover .icon-challenge-black
      background-position: -24px -150px

  .btn-high-five
    .icon-high-five-black
      background-position: -80px -250px
    &:hover .icon-high-five-black
      background-position: -80px -150px

  .btn-comments
    padding-right: 0 !important
    border-left: 1px solid grey

div#modal-invite-friends
  .modal-dialog
    width:400px
  .modal-body
    text-align:center
    h2 
      font-family: font-family-tit
    a 
      color:brand-orange
      text-decoration:none
      &:hover 
        text-decoration:none  
  .modal-footer
    text-align:left
    a 
      color:grey
      &:first-child
        margin-left:10px
      &:hover 
        color:grey-color

.active-player-box 
.rate-skills-box
  img 
    max-width: 100%


h3.fairplay
  span 
    display: inline-block
    margin: 3px 3px 0 0