//this file contains common styles between player-profile, team-profile and court-profile
div#team-profile
div#player-profile
div#court-profile
  .pro-pic-wrapper
    height: 201px
    background-position: center center
    background-size: cover
    cursor: pointer
  div.player-info
    h4 
      margin-top: 0
      text-transform: uppercase
    div.info 
      width: 50%
      float: left
      h4 
        margin-bottom: 0
        text-transform: uppercase
      h3
        margin-top: 0
        text-transform: capitalize
  div.userinfo-wrapper
    display: inline-block
    margin-left: 15px
    background: grey-lighter
    vertical-align: bottom
    img 
      cursor: pointer
  .icon-user 
    vertical-align: bottom
  .fairplayer 
    background: grey-lighter
    width: 202px
    padding: 0 0px 0 20px
  .media-wrapper
    margin-right: -4px
    margin-left: 27px
    width: 545px
    max-width: 100%
    img
      margin-right: 4px
      margin-bottom: 4px   
  h1 
    small
      font-size: 14px
  div.left
  section.profile
    div.heading
      h4 
        color: grey-dark
        span 
          color: text-color
  //div.court-activities
