
div#players
  div.list
    div.player 
      .fairplay 
        span 
          display: inline-block
          margin: 0 5px
          font-size: 24px
          color: gray 
      a  
        color: inherit

