div#player-profile
  .badges-wrapper 
    margin-top: 17px
    span 
      font-size: 30px
      margin: 0 15px
      color: grey-light
  
  div.badges
    .list-inline
      text-align: left 
      > li
        padding: 8px 16px 8px 0
  
  
  ul.media-list.team-list
    margin-left: 20px
    li 
      display: inline-block 
      margin-right: 10px
  div.progress-bar-wrapper
    position: relative
    h4.orange-color 
      position: absolute
      top: 0
      right: 0
    .progress 
      margin-bottom: 5px
      margin-top: 4px
  .rating-info-wrapper
    text-align: center
    .rating-info
      display: inline-block
      margin-right: 5px
      .square
        height: 20px
        width: 20px
        display: inline-block
      .square.orange
        background-color: brand-orange 
      .square.black 
        background-color: brand-black
      p 
        display: inline-block
        vertical-align: middle
  div.total-summary
    text-align: right
    h1, p 
      display: inline-block
  
  .right 
    div.court-summary
      padding: 5px
      background-color: grey-lighter
      a
        &:hover
          cursor: pointer