div.sdn-progressbar
  width: 80%
  background-color: grey-lighter
  height: 20px
  cursor: pointer
  position: relative  
  div.sdn-ratting
    transition: all 0.2s ease
    position: absolute
    height: 100%
    min-width: 5px
  div.sdn-ratting.friends
    background-color: brand-orange
  div.sdn-ratting.my
    background-color: brand-orange
div.report-pan 
  padding: 30px 0
  .square
    display: inline-block
    height: 20px
    width: 20px
    vertical-align: middle
  .square.my 
  
  .square.friends

  p 
    margin-bottom: 0
    margin-top: 0
    display: inline-block
    vertical-align: middle
div.skills
  position: relative
  .sdn-dropdown 
    position: absolute
    display: none
    z-index: 9
  div.skill-wrapper 
    position: relative
  .skill-total
    position: absolute 
    top: 10px
    right: 0 
    text-align: center 
    width: 60px
  div.header-wrapper
    position: relative
    margin-bottom: 40px
    h1.total
      position: absolute
      top: 0
      right: 0
      border-bottom: 4px solid grey-lighter
      font-size: 50px
      +small
        position: absolute
        right: 3px
        top: 58px


.rate_1
  .my 
    width: 10% !important
.rate_2
  .my 
    width: 20% !important
.rate_3
  .my 
    width: 30% !important
.rate_4
  .my 
    width: 40% !important
.rate_5
  .my 
    width: 50% !important
.rate_6
  .my  
    width: 60% !important
.rate_7
  .my 
    width: 70% !important
.rate_8
  .my 
    width: 80% !important
.rate_9
  .my 
    width: 90% !important
.rate_10
  .my 
    width: 100% !important
