.image-slideshow
  .modal-header
    background-color: grey-lighter
    padding: 5px
    a 
      margin-top: 5px;
      margin-right: 10px;
      color: brand-orange
    .close 
      background: #5A5A5A
      opacity: 1
      color: #FFF
      padding: 5px 8px
    img 
      margin-right: 5px
  .modal-body
    padding: 0 !important
    img 
      max-width: 100%
      display: block
      margin: auto
  .modal-footer
    color: grey  
    display: block
    padding: 5px 
    margin-top: 0
    background-color: grey-lighter
    text-align: left
    a 
      color: grey