@font-face 
  font-family: 'sdn-font'
  src:url('fonts/sdn-font.eot')
  src:url('fonts/sdn-font.eot?#iefix') format('embedded-opentype'),
    url('fonts/sdn-font.ttf') format('truetype'),
    url('fonts/sdn-font.woff') format('woff'),
    url('fonts/sdn-font.svg#slamdunk-network') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"] 
  font-family: 'sdn-font'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-feature:before
  content: "\e639"

.icon-feature-2:before
  content: "\e63a"

.icon-feature-3:before
  content: "\e63b"

.icon-feature-4:before
  content: "\e63c"

.icon-vimeo-play:before
  content: "\e638"

.icon-user:before 
  content: "\e600"

.icon-marker-base:before 
  content: "\e601"

.icon-play:before 
  content: "\e602"

.icon-hoopmap-menu:before 
  content: "\e603"

.icon-badge-1:before 
  content: "\e604"

.icon-badge-2:before 
  content: "\e605"

.icon-badge-3:before 
  content: "\e606"

.icon-badge-4:before 
  content: "\e607"

.icon-badge-5:before 
  content: "\e608"

.icon-badge-6:before 
  content: "\e609"

.icon-logo:before 
  content: "\e60a"

.icon-logo-text:before 
  content: "\e60b"

.icon-search:before 
  content: "\e60c"

.icon-badge-symbol:before 
  content: "\e60d"

.icon-team-symbol:before 
  content: "\e60e"

.icon-network-page:before 
  content: "\e60f"

.icon-star:before 
  content: "\e610"

.icon-setting:before 
  content: "\e611"

.icon-ball:before 
  content: "\e612"

.icon-ball-indoor:before 
  content: "\e613"

.icon-left-arrow:before 
  content: "\e614"

.icon-down-arraw:before 
  content: "\e615"

.icon-fb:before 
  content: "\e616"

.icon-twitter:before 
  content: "\e617"

.icon-fb-round:before 
  content: "\e618"

.icon-twitter-round:before 
  content: "\e619"

.icon-court-line:before 
  content: "\e61a"

.icon-challenge:before 
  content: "\e61b"

.icon-upload:before 
  content: "\e61c"

.icon-high-five:before 
  content: "\e61d"

.icon-notification:before 
  content: "\e61e"

.icon-logo-3:before 
  content: "\e61f"

.icon-logo-2:before 
  content: "\e620"

.icon-level-1:before 
  content: "\e621"

.icon-level-2:before 
  content: "\e622"

.icon-level-3:before 
  content: "\e623"

.icon-level-4:before 
  content: "\e624"

.icon-level-5:before 
  content: "\e625"

.icon-calender:before 
  content: "\e626"

.icon-media:before 
  content: "\e627"

.icon-friends:before 
  content: "\e628"

.icon-court-type:before 
  content: "\e629"

.icon-sdn-default:before 
  content: "\e62a"

.icon-upload-icon:before 
  content: "\e62b"

.icon-rim-height:before 
  content: "\e62c"

.icon-lines:before 
  content: "\e62d"

.icon-number-hoops:before 
  content: "\e62e"

.icon-surface:before 
  content: "\e62f"

.icon-my-location:before 
  content: "\e630"

.icon-indoor-court:before 
  content: "\e631"

.icon-locate-games:before 
  content: "\e632"

.icon-challenge-feature:before 
  content: "\e633"

.icon-rate-skills:before 
  content: "\e634"

.icon-kind-quine-of-court:before 
  content: "\e635"

.icon-beta:before 
  content: "\e636"

.icon-sharing:before 
  content: "\e637"

