aside.right
  .nw-msg-post-wrapper
    margin-top: 20px
  .nw-post-content
    width: 340px
    float: left
  .nw-post-block 
    .nw-post-block-actions
      padding: 10px 0
      a 
        font-size: 0.8em
  .nw-post-comments 
    .comment-wrapper 
      .comment
        width: 248px