.alert(ng-class='{"alert-{{type || "warning"}}": true, "alert-dismissable": closeable}', role='alert')
  button.close(ng-show='closeable', type='button', ng-click='close()')
    span(aria-hidden='true') ×
    span.sr-only Close
  div(ng-transclude='')
