div.calender-wrapper
  h2 Calender 
    small January/2014

  table 
    tr 
      td
        a.unstyle
          h5.grey.mt0 Wed 00 
          span.icon-calender.has-event
            label x3
            span.icon-challenge
      td
          h5.grey.mt0 Thurs 00  
          span.icon-calender
      td
        a.unstyle 
          h5.grey.mt0 Fri 00 
          span.icon-calender.has-event
            label x3
            span.icon-challenge
      td
        a.unstyle
          h5.grey.mt0 Sat 00  
          span.icon-calender.has-event
            label x3
            span.icon-challenge
      td
          h5.grey.mt0 Sun 00  
          span.icon-calender
      td
        a.unstyle
          h5.grey.mt0 Mon 00  
          span.icon-calender.has-event
            label x3
            span.icon-challenge

      td
        a.unstyle
          h5.grey.mt0 Tues 00  
          span.icon-calender.has-event
            label x3
            span.icon-challenge      


