div(x-ng-switch="editSkills")
  div.skills.row(x-ng-switch-when="true")
    div.col-xs-6
      div.header-wrapper
        h1.grey.mb0 OFFENCE SKILLS
        small LEVEL 
          a(href="#")  SOCIAL
        h1.mt0.orange-color.total 37
        small.tx-grey some text
      div.skill-wrapper
        h4.grey.mb0 3 Points
        div.sdn-progressbar
          div.sdn-ratting.friends(style="width: 50%")
          
        h4.grey.skill-total 3
      div.skill-wrapper
        h4.grey.mb0 Mid-range shooting
        div.sdn-progressbar
          div.sdn-ratting.friends(style="width: 58%; z-index: 1;")
          
        h4.grey.skill-total 3
      div.skill-wrapper
        h4.grey.mb0 Lay-ups
        div.sdn-progressbar
          div.sdn-ratting.friends(style="width: 90%;")
          
        h4.grey.skill-total 3
      div.skill-wrapper
        h4.grey.mb0 Ball-handling
        div.sdn-progressbar
          div.sdn-ratting.friends(style="width: 40%")
          
        h4.grey.skill-total 3
      div.skill-wrapper
        h4.grey.mb0 Assists
        div.sdn-progressbar
          div.sdn-ratting.friends(style="width: 100%;")
          
        h4.grey.skill-total 3
    div.col-xs-6
      div.header-wrapper
        h1.grey.mb0 DEFFENSIVE SKILLS
        small LEVEL 
          a(href="#")  SOCIAL
        h1.mt0.orange-color.total 37
        small.tx-grey some text
      div.skill-wrapper
        h4.grey.mb0 Man vs Man
        div.sdn-progressbar
          div.sdn-ratting.friends(style="width: 100%;")
          
        h4.grey.skill-total 3
      div.skill-wrapper
        h4.grey.mb0 Help Defense
        div.sdn-progressbar
          div.sdn-ratting.friends(style="width: 80%;")
          
        h4.grey.skill-total 3
      div.skill-wrapper
        h4.grey.mb0 Steals
        div.sdn-progressbar
          div.sdn-ratting.friends(style="width: 100%;")
          
        h4.grey.skill-total 3
      div.skill-wrapper
        h4.grey.mb0 Blocks
        div.sdn-progressbar
          div.sdn-ratting.friends(style="width: 100%;")
          
        h4.grey.skill-total 3
      div.skill-wrapper
        h4.grey.mb0 Def. rebounds
        div.sdn-progressbar
          div.sdn-ratting.friends(style="width: 100%;")
          
        h4.grey.skill-total 3
  div.skills.row.report-pan
    div.col-xs-12 
      h4.dib.tx-orange-dark 0000
        small Rates 
      h4.dib.tx-orange 0000
        small Approvals
      div.dib 
        span.square.orange-bgcolor.friends
        p Friends rattings
      div.dib 
        span.square.my.orange-bgcolor-dark
        p Friends rattings
  div.skills.row(x-ng-switch-when="false")
    div.col-xs-6
      div.header-wrapper
        h1.grey.mb0 OFFENCE SKILLS
        small LEVEL 
          a(href="#")  SOCIAL
        h1.mt0.orange-color.total 37
        small.tx-grey some text
      div.skill-wrapper
        h4.grey.mb0 3 Points
        div.sdn-progressbar
          div.sdn-ratting.friends
          div.sdn-ratting.my
        h4.grey.skill-total 3
      div.skill-wrapper
        h4.grey.mb0 Mid-range shooting
        div.sdn-progressbar
          div.sdn-ratting.friends
          
        h4.grey.skill-total 3
      div.skill-wrapper
        h4.grey.mb0 Lay-ups
        div.sdn-progressbar
          div.sdn-ratting.friends
          
        h4.grey.skill-total 3
      div.skill-wrapper
        h4.grey.mb0 Ball-handling
        div.sdn-progressbar
          div.sdn-ratting.friends
          
        h4.grey.skill-total 3
      div.skill-wrapper
        h4.grey.mb0 Assists
        div.sdn-progressbar
          div.sdn-ratting.friends
          
        h4.grey.skill-total 3
    div.col-xs-6
      div.header-wrapper
        h1.grey.mb0 DEFFENSIVE SKILLS
        small LEVEL 
          a(href="#")  SOCIAL
        h1.mt0.orange-color.total 37
        small.tx-grey some text
      div.skill-wrapper
        h4.grey.mb0 3 Points
        div.sdn-progressbar
          div.sdn-ratting.friends
          
        h4.grey.skill-total 3
      div.skill-wrapper
        h4.grey.mb0 Mid-range shooting
        div.sdn-progressbar
          div.sdn-ratting.friends
          
        h4.grey.skill-total 3
      div.skill-wrapper
        h4.grey.mb0 Lay-ups
        div.sdn-progressbar
          div.sdn-ratting.friends
          
        h4.grey.skill-total 3
      div.skill-wrapper
        h4.grey.mb0 Ball-handling
        div.sdn-progressbar
          div.sdn-ratting.friends
          
        h4.grey.skill-total 3
      div.skill-wrapper
        h4.grey.mb0 Assists
        div.sdn-progressbar
          div.sdn-ratting.friends
          
        h4.grey.skill-total 3
    div.skills.row.report-pan 
      div.col-xs-12 
        h4.dib.tx-orange-dark 0000
          small Rates 
        h4.dib.tx-orange 0000
          small Approvals
        div.dib 
          span.square.orange-bgcolor.friends
          p Friends rattings
        div.dib 
          span.square.my.orange-bgcolor-dark
          p Friends rattings
        