div.row
  div.col-xs-12
    div.heading
      h1.player-name 2020 Court 
      h4 ADDRESS:
        span The Cage (NY)
      h4 CREATED BY:
        span Player Name
    hr
div.row
  div.col-xs-4
    span.icon-user.large
  div.col-xs-4
    h4.mb0.grey NUMBER OF HOOPS
    h4.mt0 10
    h4.mb0.grey RIM HEIGHT
    h4.mt0 10
    h4.mb0.grey COURT TYPE
    h4.mt0 10
  div.col-xs-4 
    h4.mb0.grey RATE
    h4.mt0 10
    h4.mb0.grey COURT TYPE
    h4.mt0 10
    h4.mb0.grey HOME COURT FOR
    h4.mt0 10
div.row 
  div.col-xs-12 
    hr
div.kings-of-court
  div.row 
    div.col-xs-6
      table.king 
        tr 
          td 
            span.icon-badge-6
          td  
            img(src="http://placehold.it/52x52")
          td
            p
              a Player Name 
              | is King of Court 
    div.col-xs-6
      table.king 
        tr 
          td 
            span.icon-badge-6
          td  
            img(src="http://placehold.it/52x52")
          td
            p
              a Player Name 
              | is King of Court 
    div.col-xs-6
      table.king 
        tr 
          td 
            span.icon-badge-6
          td  
            img(src="http://placehold.it/52x52")
          td
            p
              a Player Name 
              | is King of Court 
    div.col-xs-6
      table.king 
        tr 
          td 
            span.icon-badge-6
          td  
            img(src="http://placehold.it/52x52")
          td
            p
              a Player Name 
              | is King of Court 
div.row
  div.col-xs-12 
    hr
    div.clearfix
    div.pull-left
      h3.grey.mb0.mt10 MEDIA 
      small Go to media
    div.media-wrapper.pull-left(style="margin-right: -4px; margin-left: 27px;")
      img(src="http://placehold.it/64x64")
      img(src="http://placehold.it/64x64")
      img(src="http://placehold.it/64x64")
      img(src="http://placehold.it/64x64")
      img(src="http://placehold.it/64x64")
      img(src="http://placehold.it/64x64")
      img(src="http://placehold.it/64x64")
      img(src="http://placehold.it/64x64")
    div.clearfix
    hr
    h4.grey PLAYING ON 
      span Court Name 
      | NOW 
    div.court-activities
      div.played-today.dib.mr20 
        h4.mb0.grey PLAYED TODAY
      div.playing-today.dib.mr20
        h4.mb0.grey PLAYING NOW
      div.attending-today.dib.mr20
        h4.mb0.grey ATTENDING TODAY
    hr
    sdn-calender  