div
  ul.rslides
    li
      div.slide(style="background-image: url(#{pkg.version}/img/slider/BannerLandingpage1.jpg)")
    li
      div.slide(style="background-image: url(#{pkg.version}/img/slider/BannerLandingpage2.jpg)")
    li
      div.slide(style="background-image: url(#{pkg.version}/img/slider/BannerLandingpage3.jpg)")
      //img(src='#{pkg.version}/img/slider/BannerLandingpage3.jpg', alt='')